{% extends 'main/layout.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Добро пожаловать на мой сайт!</h1>
        <h2>О себе</h2>
        <p>Привет! Меня зовут Ляйля, и я начинающий full-stack разработчик. В настоящее время я учусь на 2 курсе Казахстанско-Британского Технического Университета (КБТУ), где изучаю современные технологии и получаю ценные знания в области программирования и разработки веб-приложений.</p>
        <h2>Моя цель</h2>
        <p>Моя цель — стать высококвалифицированным full-stack разработчиком, способным создавать эффективные и инновационные решения для бизнеса. Я стремлюсь к совершенствованию своих навыков как в front-end, так и в back-end разработке, чтобы создавать полноценные веб-приложения от идеи до реализации.</p>
        <h2>Что я умею</h2>
        <p>На данный момент я освоила следующие технологии и инструменты:
            <b><p>Front-end:</b> HTML, CSS, JavaScript</p>
            <b><p>Back-end:</b> C++, Python</p>
            <b><p>Базы данных:</b> Mysql,Postgresql</p>
            <b><p>Прочие инструменты:</b> Git, GitHub</p></p>

        
    </div>
    {% include "main/test.html" %}
{% endblock %}