{% extends "main/layout.html" %}

{% block title %} Socials {% endblock %}

{% block content%}
<div class="features1">
    <h1>Контакты</h1>
    <p>Если у вас есть вопросы или предложения, не стесняйтесь связаться со мной:</p>
    <ul>
        <li><b>Email:</b> <a href="mailto:balgymbekova1@gmail.com">balgymbekova1@gmail.com</a></li>
        <li><b>LinkedIn:</b> <a href="https://www.linkedin.com/in/ляйля-балгимбекова-48b588311/" target="_blank">https://www.linkedin.com/in/ляйля-балгимбекова-48b588311/</a></li>
        <li><b>GitHub:</b> <a href="https://github.com/x1emy" target="_blank">https://github.com/x1emy</a></li>
    </ul>
    
    <button class="btn btn-danger">Доп. информация</button>
</div>
{% endblock %}